<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SeniorCare</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.seniorcitizen.webpro.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCaretakerServlet</display-name>
    <servlet-name>AddCaretakerServlet</servlet-name>
    <servlet-class>com.seniorcitizen.webpro.AddCaretakerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCaretakerServlet</servlet-name>
    <url-pattern>/AddCaretakerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeniorRegisterServlet</display-name>
    <servlet-name>SeniorRegisterServlet</servlet-name>
    <servlet-class>com.seniorcitizen.webpro.SeniorRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeniorRegisterServlet</servlet-name>
    <url-pattern>/SeniorRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeniorLoginServlet</display-name>
    <servlet-name>SeniorLoginServlet</servlet-name>
    <servlet-class>com.seniorcitizen.webpro.SeniorLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeniorLoginServlet</servlet-name>
    <url-pattern>/SeniorLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaretakerLoginServlet</display-name>
    <servlet-name>CaretakerLoginServlet</servlet-name>
    <servlet-class>com.seniorcitizen.webpro.CaretakerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaretakerLoginServlet</servlet-name>
    <url-pattern>/CaretakerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetAppointmentServlet</display-name>
    <servlet-name>SetAppointmentServlet</servlet-name>
    <servlet-class>com.seniorcitizen.webpro.SetAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetAppointmentServlet</servlet-name>
    <url-pattern>/SetAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAppointmentsServlet</display-name>
    <servlet-name>ViewAppointmentsServlet</servlet-name>
    <servlet-class>com.seniorcitizen.webpro.ViewAppointmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAppointmentsServlet</servlet-name>
    <url-pattern>/ViewAppointmentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlertServlet</display-name>
    <servlet-name>AlertServlet</servlet-name>
    <servlet-class>com.seniorcitizen.webpro.AlertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlertServlet</servlet-name>
    <url-pattern>/AlertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSeniorHealthServlet</display-name>
    <servlet-name>AddSeniorHealthServlet</servlet-name>
    <servlet-class>com.seniorcitizen.webpro.AddSeniorHealthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSeniorHealthServlet</servlet-name>
    <url-pattern>/AddSeniorHealthServlet</url-pattern>
  </servlet-mapping>
</web-app>